import os
import psycopg2


def connect():
    link = os.getenv("{{COMPONENT}}_LINK_0")
    assert link.startswith("tcp://")

    host, port = link[6:].split(":")

    return psycopg2.connect(dbname=os.getenv("PSYCOPG2_{{COMPONENT}}_DB"),
                            user=os.getenv("PSYCOPG2_{{COMPONENT}}_USER"),
                            password=os.getenv("PSYCOPG2_{{COMPONENT}}_PASSWORD"),
                            host=host,
                            port=port)
