import os
import psycopg2


def connect():
    link = os.getenv("{{COMPONENT}}_LINK_0")
    assert link.startswith("tcp://")

    host, port = link[6:].split(":")

    return psycopg2.connect(dbname=os.getenv("{{COMPONENT}}_PSYCOPG2_DB"),
                            user=os.getenv("{{COMPONENT}}_PSYCOPG2_USER"),
                            password=os.getenv("{{COMPONENT}}_PSYCOPG2_PASSWORD"),
                            host=host,
                            port=port)
